@import 'src/assets/styles/base/baseExport';

.parent{
  header{
    background: $blue;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  div{
    width: 95%;
    margin: auto;
    padding: 20px 0;
    span{

    }
    button{
      margin: 0 20px;
    // float: right;
    }

  }
}

.submit {
  width: 100%;
  border-radius: 5px;
  background: $blue;
  margin: 0 !important;
  border: none;
  color: $white;
  height: 30px;
  line-height: 30px;
}
